.support-first-sec {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.support-first-sec .support-banner-imgbox {
  position: relative;
}

.support-first-sec .support-banner-imgbox .hour-imgbox {
  background: #fff;
  -webkit-box-shadow: 0px 20px 40px #00000012;
          box-shadow: 0px 20px 40px #00000012;
  border-radius: 50%;
  height: 140px;
  width: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 12%;
  right: 8%;
}

.support-first-sec .support-banner-imgbox .hour-imgbox .hour-support {
  font-size: 18px;
  color: #a5a5ae;
  text-transform: uppercase;
}

.support-first-sec .support-banner-imgbox .support-setting {
  background: #fff;
  -webkit-box-shadow: 0px 20px 40px #00000012;
          box-shadow: 0px 20px 40px #00000012;
  position: absolute;
  bottom: 23%;
  left: 11%;
  width: 80px;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
}

.support-first-sec .support-first-right p.support-first-content {
  color: #666666;
  font-size: 24px;
  line-height: 44px;
}

.support-first-sec .support-first-right .support-email-box {
  background: #fff7f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 38px;
  padding: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
}

.support-first-sec .support-first-right .support-email-box .mail-img {
  background: #ee7623;
  height: 50px;
  width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  margin: 0px 30px 0px 10px;
}

.support-first-sec .support-first-right .support-email-box .first-sec-email {
  font-size: 24px;
  color: #666666;
}

.support-first-sec .support-first-right .support-email-box .first-sec-email span {
  font-weight: bold;
}

.support-first-sec .support-first-right .support-email-box .first-sec-email a {
  color: inherit;
}

form .input-row {
  width: 100%;
  margin-bottom: 20px;
}

form .input-row input,
form .input-row textarea,
form .input-row .MuiInputBase-multiline {
  background-color: #fbfbfb;
  width: 100%;
}

form .input-row fieldset {
  border-radius: 15px;
  border-color: #9ba4af;
}

form .contact-radio-button .MuiFormControlLabel-label {
  color: #999999 !important;
}

form .contact-radio-button label.Mui-focused {
  color: rgba(0, 0, 0, 0.6);
}

form button.btn-support {
  text-transform: capitalize;
}

h2.primary-heading-support {
  font-size: 30px;
  color: #333;
}

@media (min-width: 1200px) and (max-width: 1450px) {
  .support-first-sec .support-banner-imgbox .support-setting {
    left: 5%;
    bottom: 14%;
  }
  .support-first-sec .support-banner-imgbox .hour-imgbox {
    height: 120px;
    width: 120px;
    right: 3%;
    top: 3%;
  }
  .support-first-sec .support-first-right .support-email-box .mail-img {
    margin-right: 10px;
  }
  .support-first-sec .support-first-right .support-email-box .first-sec-email {
    font-size: 15px;
  }
}

@media (min-width: 320px) and (max-width: 600px) {
  .about {
    margin-top: -50px;
  }
  .support-first-sec .support-banner-imgbox .hour-imgbox {
    display: none;
  }
  .support-first-sec .support-banner-imgbox .support-setting {
    display: none;
  }
  .support-first-sec .support-first-right .support-email-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 30px;
  }
  .support-first-sec .support-first-right .support-email-box .first-sec-email {
    text-align: center;
    margin-top: 15px;
  }
  .support-first-sec .support-first-right .support-email-box .first-sec-email a {
    font-size: 16px;
  }
  .contact-radio-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact-radio-box button.btn-support {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media (min-width: 900px) and (max-width: 1200px) {
  .support-first-sec {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  .support-first-sec .support-first-right {
    max-width: 100%;
  }
}
/*# sourceMappingURL=Support.css.map */